body {
  background-color: mintcream;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

img {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  margin: 15px;
}

.plantBloom, .plantAlert {
  margin-top: 0;
  margin-bottom: 0;
}

.plantType {
  margin-top: 0;
}

.plantName {
  margin-bottom: 0;
}

.search {
  margin: 10px;
}

.resetButton {
  margin: 10px !important;
}

.plantForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin: 0em 0em 0.28571429rem 0em;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.92857143em;
  font-weight: bold;
  text-transform: none;
}

