.App {
  text-align: center;
  background-color: mintcream;
}

.App-header {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

img {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  margin: 15px;
}

.plantBloom, .plantAlert {
  margin-top: 0;
  margin-bottom: 0;
}

.plantType {
  margin-top: 0;
}

.plantName {
  margin-bottom: 0;
}

.search {
  margin: 10px;
}

.resetButton {
  margin: 10px !important;
}
